
.wrapper{
	max-width: 100%;
	margin:0 auto;
	color:#70665A;
	font-size: 1.5vw
}
.koła-trzy{
	width: 35%;
    position: absolute;
    margin-top: -6%;
    margin-left: -6%;
}
.koła-dwa{
    width: 20%;
    position: absolute;
    margin-left: 35%;
    margin-top: 36%;
    z-index: -1;
}
.koła-jeden{
    width: 35%;
    position: absolute;
    margin-top: 11%;
    margin-left: 70%;
    z-index: -2;
}
.koła-cztery{
	position: absolute;
    margin: -11% 0% 0% 25%;
    width: 38%;
}
.koła-piec{
	position: absolute;
    margin-left: -78%;
    width: 45%;
}
.koła-szesc{
    position: absolute;
    width: 35%;
    margin: 20% 0% 0% 63%;
    z-index: -1;
}
.koła-siedem{
	width: 30%;
    position: absolute;
    margin-top: -15%;
    margin-left: 70%;
}
.koła-dziewiec{
	position: absolute;
    width: 25%;
    margin-top: -20%;
    margin-left: -5%;
    z-index: -1;
}
.koła-dziesiec{
    position: absolute;
    width: 35%;
    margin-top: -10%;
    margin-left: 50%;
}

nav{
	background: lightgray;
	/*height: 133px;*/
}
.menu{
	background-image: url(_elementy_gradient_menu.png);
	width: 70%;
    margin: 0% 1% 10% 29%;
    height: 95%;
    background-size: 97%;
}
div.menu img:nth-child(2){
	margin-left:72%;
	margin-top: 4%;
}
.menu-img{	
	max-width: 100%;
    width: 6%;
}

div.menu ul{

    width: 50%;
    position: absolute;
    font-size: 1.5vw;
    text-decoration: none;
    color: white;
    text-align: center;
    margin-top: 4%;
    box-sizing: border-box;
    border-right: 1px solid white;
}
.menu li{
	display: inline;
}
.menu a{
	text-decoration: none;
    color: white;
    margin-right: 6%
}
.header img:nth-child(1){
    width: 30%;
    margin: 4% 0% 0% 13%;
    max-width: 100%
}
.main-header {
    background: rgba(255, 255, 255, 0.5);
    
    box-sizing: border-box;
    box-shadow: 1px 1px 10px lightgrey;
    width: 45%;
    max-width: 100%;
    position: absolute;
    margin: -33% 5% 0% 38%;
    border-radius: 2%;
}
.main-header p:nth-child(1){
	font-size: 2vw;
    margin-bottom: 0%;
    margin-left: 5%;
}
.main-header p:nth-child(2){
	color:#E0B595;
    font-size: 2vw;
    margin-top: 0%;
    margin-left: 5%;
}
.main-header p:nth-child(3){
	color:#70665A;
	width: 50%;
    font-size: 1.3vw;
    margin-left: 5%;
}
.main-header p:nth-child(4){
	display: inline-block;
    margin-left: 60%;
    font-size: 1.2vw;
}
.main-header-frelancer p:nth-child(1){
	font-size: 2vw;
    margin-bottom: 0%;
    margin-left: 5%;
}
.main-header-frelancer p:nth-child(2){
    color: #70665A;
    width: 50%;
    font-size: 1.3vw;
    margin-left: 50%;
    text-align: right;
    margin-bottom: -3%
}
.main-header img {
	width: 9%;
    display: inline;
    margin-bottom: -4%;
    margin-right: -2%
}
.header div{
	    width: 50%;
    margin-left: 35%;
    margin-top: -15%;
    text-align: right;
}
.header{
	margin-bottom: 10%;
}
.main-header-frelancer p:nth-child(3){
    display: inline-block;
    margin-top: 4.5%;
    position: absolute;
    margin-left: -18%;
    font-size: 1.4vw;
    color: white;
}
.photo1{
	margin: -10% 0% 0% 11%;
    width: 30%;
    position: absolute;
    display: inline;
    z-index: -1;
}
.photo2{
	 width: 60%;
    margin: -20% 0% 0% -3%;
    display: inline;

}
.main-header-frelancer p:nth-child(4){
    display: inline-block;
    margin-left: 22%;
    margin-top: 4.5%;
    position: absolute;
    color: white;
    font-size: 1.4vw;
}
.about-me{
    display: inline-block;
    width: 35%;
    max-width: 50%;
    margin-top: -20%;
    margin-left: 17%
}
.about-me ul{
	padding: 0;	
}
.about-me ul li{
	margin-left: 5%;
	margin-top: -1%;
}
.about-me p:nth-child(1){
	font-size: 2vw;
}
.about-me p:nth-child(2){
	font-size: 2vw;
	color: #E0B595;
    margin-top: -5%;
}
.about-me >ul >p:nth-child(1){
	color: #E0B595;
	margin-bottom: 3%;
}
.cours{
	display: inline;
	margin-left: 20%;
	font-size: 1.3vw
}
.about-me >img{
	 width: 30%;
    margin: -10% 0% 0% 70%;
}
.about-me p:nth-child(6){
		margin-left: 30%;
}
.skills{
	float: right;
    width: 40%;
    margin-top: -20%;
    box-shadow: 3px 3px 2px lightgrey;
    border-radius: 2%;
}
.skills-name{
	font-size: 2vw;
	color: #E0B595;
}
section article.skills-chart{
    width: 74%;
    height: auto;
    margin-left: 10%;
    font-size:1vw;
    margin-top: 10%
}
section article.skills-chart p{
    color: #ffffff;
    padding: 2%;
    position: relative;
    box-sizing: border-box;
  	z-index: 2;
}
section article.skills-chart div span:nth-child(1){
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    background:#F1F0F5;
    z-index: -2;
    height: 100%;
    width:100%;
    border-radius: 5%
}
section article.skills-chart div span:nth-child(2){
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background:#F2CDB0;
    z-index: -1;
    height: 95%;
    border-radius: 5%;
    box-shadow: 2px 2px 2px grey;
}
section article.skills-chart div:nth-child(1) span:nth-child(2){
    width: 100%;
}
section article.skills-chart div:nth-child(2) span:nth-child(2){
    width: 90%
}
section article.skills-chart div:nth-child(3) span:nth-child(2){
    width: 90%
}
section article.skills-chart div:nth-child(4) span:nth-child(2){
    width: 60%
}
section article.skills-chart div:nth-child(5) span:nth-child(2){
    width: 90%
}
section article.skills-chart div:nth-child(6) span:nth-child(2){
    width: 60%
}
.tools{
	background-image: url(tło_gradient.png);
}
div.tools p:nth-child(1){
	font-size: 2.5vw;
	margin-left: 10%;
	padding-top: 5%;
}
div.tools p:nth-child(2){
	color:#e0b595;
	margin-left: 10%;
	font-size: 2.5vw;
	margin-top: -2%
}
.tools div:nth-child(3){
    background-color: white;
    display: inline-block;
    margin: 0% 0% 5% 10%;
    width: 7%;
    max-height: 30%;
    box-shadow: 2px 2px 2px lightgrey;
    border-radius: 3%;
    text-align: center;
}
.tools div p:nth-child(2){
    margin-top: -20%;
    font-size: 0.9vw;
    max-width: 20%;
    margin-left: 29%;
    color: black;
    margin-bottom: 0%
}
.React{
    margin-top:-10%;
    width: 90%;
}
.tools div{
    background-color: white;
    display: inline-block;
    margin: 0% 0% 0% 1%;
    width: 7%;
    max-height: 30%;
    box-shadow: 2px 2px 2px lightgrey;
    border-radius: 3%;
    text-align: center;
}
.react{
    margin-top: -10%;
    width:90%;
}
.tools div:nth-child(6){
    margin-bottom: -14%
}
.tools div:nth-child(6)> img{
    width: 75%
}
.tools div:nth-child(9) img{
    width: 75%;
    margin: 6%;
}
.tools div:nth-child(10) img{
    width: 75%;
    margin: 6%;
}

.Portfolio{
	max-width: 100%;
	width:100%
}
.Portfolio p:nth-child(1){
	    font-size: 2.5vw;
    margin-left: 10%;
}
.Portfolio p:nth-child(2){
	color: #e0b595;
    margin-left: 10%;
    font-size: 2.5vw;
    margin-top: -2%;
}
.Portfolio p:nth-child(3){
    width: 40%;
    margin-left: 10%;
    font-size: 1.2vw;
    color: gray;
}
.portfolio1{    
	width: 24%;
    box-sizing: border-box;
    box-shadow: 5px 5px 5px;
    margin: 0% 0% 2% 10%;
    border-radius: 2%;
	display: inline-block;
	}
.portfolio1 img:nth-child(1){
 	width: 81%;
    margin: 7% 5% 0% 8%;
 }
.portfolio1 img:nth-child(2){
 	width: 15%;
    display: inline-block;
    margin-left: 65%;
 }
.portfolio1 img:nth-child(3){
	width: 15%;
    margin-left: -5%;
}
.portfolio2{    
	width: 24%;
    box-sizing: border-box;
    box-shadow: 5px 5px 5px;
    margin: 0% 0% 2% 4%;
    border-radius: 2%;
	display: inline-block;
}
.portfolio2 img:nth-child(1){
 	width: 81%;
    margin: 7% 5% 0% 8%;
 }
.portfolio2 img:nth-child(2){
 	width: 15%;
    display: inline-block;
    margin-left: 65%;
 }
.portfolio2 img:nth-child(3){
	width: 15%;
    margin-left: -5%;
}
.portfolio3{    
	width: 24%;
    box-sizing: border-box;
    box-shadow: 5px 5px 5px;
    margin: 0% 0% 2% 4%;
    border-radius: 2%;
    display: inline-block;
}
.portfolio3 img:nth-child(1){
 	width: 81%;
    margin: 7% 5% 0% 8%;
 }
.portfolio3 img:nth-child(2){
 	width: 15%;
    display: inline-block;
    margin-left: 65%;
 }
.portfolio3 img:nth-child(3){
	width: 15%;
    margin-left: -5%;
}
.portfolio4{    
	width: 24%;
    box-sizing: border-box;
    box-shadow: 5px 5px 5px;
    margin: 0% 0% 2% 10%;
    border-radius: 2%;
	display: inline-block;
}
.portfolio4 img:nth-child(1){
 	width: 81%;
    margin: 7% 5% 0% 8%;
 }
.portfolio4 img:nth-child(2){
 	width: 15%;
    display: inline-block;
    margin-left: 65%;
 }
.portfolio4 img:nth-child(3){
	width: 15%;
    margin-left: -5%;
}
.portfolio5{    
	width: 24%;
    box-sizing: border-box;
    box-shadow: 5px 5px 5px;
    margin: 0% 0% 2% 4%;
    border-radius: 2%;
	display: inline-block;
}
.portfolio5 img:nth-child(1){
 	width: 81%;
    margin: 7% 5% 0% 8%;
 }
.portfolio5 img:nth-child(2){
 	width: 15%;
    display: inline-block;
    margin-left: 65%;
 }
.portfolio5 img:nth-child(3){
	width: 15%;
    margin-left: -5%;
}
.portfolio6{    
	width: 24%;
    box-sizing: border-box;
    box-shadow: 5px 5px 5px;
    margin: 0% 0% 2% 4%;
    border-radius: 2%;
	display: inline-block;
}
.portfolio6 img:nth-child(1){
 	width: 81%;
    margin: 7% 5% 0% 8%;
 }
.portfolio6 img:nth-child(2){
 	width: 15%;
    display: inline-block;
    margin-left: 65%;
 }
.portfolio6 img:nth-child(3){
	width: 15%;
    margin-left: -5%;
}
.portfolio7{
	position: absolute;
    width: 24%;
    box-sizing: border-box;
    box-shadow: 5px 5px 5px;
    margin:0% 0% 0% -24%;
    border-radius: 2%;
    display: inline-block;
    background-color: #E0B595;
    opacity: 0.8;

}.portfolio7 p:nth-child(2){
	color:white;
	font-size: 1.6vw;
    margin-left: 21%
}
.portfolio7 p:nth-child(1){
	margin: 20% 15% 0% 15%;
    font-size: 2vw;
}
.portfolio7 p:nth-child(3){
	width: 80%;
    margin-left: 10%;
    font-size: 1.2vw;
    color: white;
    margin-bottom: 24%
}
.Blog{
	max-width: 100%;
	margin-left: 10%
}
.Blog p:nth-child(1) {
    font-size: 2.5vw;
   
}
.Blog p:nth-child(2) {
    color: #e0b595;
    
    font-size: 2.5vw;
    margin-top: -2%;
}
.atum{
	width: 20%;
    border-radius: 5%;
    display: inline;
 }
.Blog >p:nth-child(4){
	display: block;
    width: 50%;
    margin-left: 25%;
    margin-top: -15%;
    font-size: 2vw;
}
.Blog p:nth-child(5){
	display: block;
    width: 50%;
    margin-left: 73%;
    margin-top: -4%;
    font-size: 1vw;
}
.Blog p:nth-child(6) {
    display: block;
    width: 50%;
    margin-left: 25%;
    margin-top: 0%;
    font-size: 2vw;
    color: #e0b595;
}
.Blog p:nth-child(7){
	margin-left: 25%;
    width: 55%;
    font-size: 1.3vw;
}
.Blog p:nth-child(8){
	margin-left: 50%;
    box-sizing: border-box;
    font-size: 1vw;
}
i.arrow-right{
	border: solid black;
    border-width: 0px 2px 2px 0px;
    display: inline-block;
    padding: 1%;
    width: 0%;
    height: 0%;
    -webkit-transform: rotate(-45deg);
}
.atum-jeden{
	width: 20%;
    border-radius: 5%;
    display: inline;
    margin-bottom: 2%;
    margin-top: 5%;
}
.Blog p:nth-child(10){
	display: block;
    width: 50%;
    margin-left: 25%;
    margin-top: -15%;
    font-size: 2vw;
}
.Blog p:nth-child(11){
    display: block;
    width: 50%;
    margin-left: 73%;
    margin-top: -4%;
    font-size: 1vw;
}
.Blog p:nth-child(12) {
    display: block;
    width: 50%;
    margin-left: 25%;
    margin-top: 0%;
    font-size: 2vw;
    color: #e0b595;
}
.Blog p:nth-child(13){
    margin-left: 25%;
    width: 55%;
    font-size: 1.3vw;
}
.Blog p:nth-child(14) {
    margin-left: 50%;
    box-sizing: border-box;
    font-size: 1vw;
}
.contact-me{
	background-image: url(tło_gradient.png);
	max-width: 100%;
 }
 .contact-me p:nth-child(1){
 	font-size: 2.5vw;
 	margin-left:10%;
 	margin-top:5%;
 	padding-top: 4%;
 }
 .contact-me p:nth-child(2) {
    margin-left: 10%;
    width: 35%;
    font-size: 1.3vw;
}
form{
	display: inline-block;
	width: 50%;
	margin-left: 5%
}
input:nth-child(1){
     margin-left: 10%;
    width: 60%;
    border: transparent;
    display: block;
    box-shadow: 2px 2px 3px grey;
    height: 3vw;
    border-radius: 2%;
    margin-top: 2%;
    font-size: 1.2vw;
}
input:nth-child(2){
    margin-left: 10%;
    width: 60%;
    border: transparent;
    display: block;
    box-shadow: 2px 2px 3px grey;
    height: 3vw;
    border-radius: 2%;
    margin-top: 2%;
    font-size: 1.2vw;
}

textarea{
	margin-left: 10%;
    width: 60%;
    border: transparent;
    display: block;
    box-shadow: 2px 2px 3px grey;
    height: 10vw;
    border-radius: 2%;
    margin-top: 2%;
    font-size: 1.2vw;
    margin-bottom: 10%
}
button{
	background: transparent;
    border: 0;
    font-size: 1.5vw;
    margin: -6.6% 0 0 38%;
    color: white;
    display: inherit;
    position: absolute;

}
.contact-send{
	    width: 10%;
    position: absolute;
    z-index: -1;
    margin-left: 35%;
    margin-top:-8%;
}
.contact-phone{
    margin: -25% 2% 0% 55%;
    background: rgba(255, 255, 255, 0.8);
    box-sizing: border-box;
    box-shadow: 2px 2px 10px lightgrey;
    width: 20%;
    max-width: 100%;
    position: absolute;
    border-radius: 2%;
    z-index: 1
}
.ikona-kontakt{
	width: 20%;
    position: relative;
    margin: 2%;
    display: inline-block;
 }
 .contact-phone a:nth-child(2){
 	    display: block;
    margin: -20% 0% 0% 25%;
    text-decoration: none;
    font-size: 1.5vw;

}

.contact-phone p:nth-child(3){
	display: block;
    margin: 2% 0% 5% 25%;
    color: green;
    font-size: 1.2vw
}
.contact-me img:nth-child(5){    
    position: absolute;
    width: 20%;
    max-height: 90%;
    margin: -11% 0% 0% 18%;;
}
.footer{
	text-align: right;
    margin-top: -25%;
}
.footer p:nth-child(1){
	margin: 8% 7% 0% 0%;
    font-size: 1vw;
}
.footer p:nth-child(2){
	text-align: right;
    margin-left: 58%;
    font-size: 1vw;
    margin-top: 0%;
}
.footer p:nth-child(3){
	margin: -1% 7% 0% 0%;
    font-size: 1vw;
}
.footer p:nth-child(4){
	margin:0% 7% 0% 0%;
    font-size: 1vw;
}
.footer p:nth-child(5){
	margin: 0% 7% 0% 0%;
    font-size: 1vw;
}
.footer p:nth-child(6){
	margin: 0% 7% 0% 0%;
    font-size: 1vw;
    padding-bottom: 5%;
}


